name: Workflow Lint

on:
  pull_request:
    paths:
      - ".github/workflows/**"
  push:
    branches:
      - main
    paths:
      - ".github/workflows/**"

jobs:
  actionlint:
    name: Lint GitHub Actions workflows
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout repository
        # v4.2.2
        uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e787

      - name: Run actionlint
        uses: reviewdog/action-actionlint@v1
        with:
          fail_level: error
