name: CI

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  build:
    runs-on: [self-hosted, linux, x64, giveaway-bot]
    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: ./build.sh