name: Release

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Extract Release Notes
        id: extract_notes
        uses: ffurrer2/extract-release-notes@v2
        with:
          changelog_file: CHANGELOG.md

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          body: ${{ steps.extract_notes.outputs.release_notes }}
          files: |
            GiveawayBot.cs
            README.md
            USER_GUIDE.md
